*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
}

/*VARIABLES*/

:root {
    --azul-oscuro: #111827;
    --verde-claro: #278843;
    --verde-claro2:#73A23F;
    --verde-oscuro: #228B41;
}


/*NAVEGACION*/
.nav {
    width: 100%;
    background-color: #fff;
    height: 80px;
    display: flex;
}

.nav__left {
    width: 40%;
    display: flex;
    align-items: center;
    margin-left: 7%;
}

.logo {
    border-radius: 5px;
}

.nav__left li {
    list-style: none;
    padding: 8px;
}

.nav__left li a {
    text-decoration: none;
    color: var(--verde-oscuro);
    font-weight: bold;
}

.nav__left li a:hover{
    text-decoration: underline;
    font-size: 17px;
}

.nav__right {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav__right li {
    list-style: none;
    padding: 10px;
}

/*HERO BANNER*/
main {
    width: 100%;
}

.hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 659px;
    position: relative;
    
}

.hero__title {
    margin-top: 50px;
    font-weight: 800;
    font-size: 60px;
    width: 60%;
    text-align: center;
    color: var(--azul-oscuro);
    text-shadow: 1px 2px 2px rgba(0,0,0,0.6);
}

.btn {
    display: inline-block;
    padding: 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    color: #fff;
    background-color: var(--verde-claro);
    font-weight: 600;
}

.btn:hover{
    box-shadow: 2px 2px 2px black;
}

.hero__cards {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.card {
    width: 20%;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0px 10px 32px 0px rgba(0,0,0,0.75);
}

.card:hover{
    box-shadow: 0px 10px 32px 0px  #2EC5CE;
    transition: .3s ease-in-out;
}

.card__img {
    width: 100%;
    height: 200px;
    overflow: hidden;
    
}

.card__text {
    text-align: center;
    font-weight: 700;
    color: var(--azul-oscuro);
}

.hero__content {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;  
}

/*MISION*/

.banner__container{
    display: flex;
    background-color: #fff;
    width: 100%;
    height: 350px;
}

.banner__left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.banner__title {
    font-size: 32px;
    margin: 50px 0px 0px 50px;
    color: var(--azul-oscuro);
    text-shadow: 1px 2px 2px rgba(0,0,0,0.6);
}

.banner__text{
    text-align: justify;
    margin: 10px 0px 0px 50px;
    color: var(--azul-oscuro);
    font-size: 18px;
}

.banner__right {
    width: 40%;
}

.banner__right img {
    margin-top: 20px;
    margin-left: 80px;
    width: 90%;
    height: 90%;
    border-radius: 20px;
    box-shadow: 0px 10px 32px 0px rgba(0,0,0,0.75);
}

/*VISION*/
.banner__container--rowreverse {
    flex-direction: row-reverse;
}

.banner__right--2 img {
    margin-left: -20px;
}

.banner__title--2 {
    margin: 50px 50px 0px 0px;
}

.banner__text--2 {
    margin: 10px 50px 0px 0px;
}

/*NOTICIAS*/

.title {
    margin: 20px 0;
    font-weight: 800;
    font-size: 60px;
    text-align: center;
    color: var(--azul-oscuro);
    text-shadow: 1px 2px 2px rgba(0,0,0,0.6);
}

/*NEWSCARD*/

.news__container {
    display: grid;
    gap: 5px;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
}

.news__card {
    margin: 10px auto;
    width: 80%;
}

.news__card__img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

.news__card__text {
    text-align: justify;
    color: var(--azul-oscuro);
    font-size: 18px;
    font-weight: 700;
}

/*FOOTER*/

.footer {
   width: 100%;
   background-color: var(--azul-oscuro);
}

.footer__container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 350px;
    background-color: var(--azul-oscuro);
    color: #fff;
    align-items: center;
}

.footer__list {
    width: 50%;
    height: 50%;
    margin: 0 auto;
}


.footer__title {
    list-style: none;
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 10px;

}

.footer__list__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    margin: 15px 0;
    font-weight: 300;
}

.footer__list__item a {
    color: #a1a2a3;
}

.footer__list__item a:hover{
    cursor: pointer;
    color: #fff;
    transition: .2s, ease-in-out;
}

.footer__parrafo {
    display: block;
    text-align: center;
    color: #fff;
    opacity: .2;
}

/*MEDIA QUERY PARA TABLET*/

@media (max-width: 768px){
    .nav__right {
        display: none;
    }

    .nav__left {
        justify-content: space-around;
        width: 100%;
    }
    
    .hero__container {
        height: auto;
    }

    .hero__title {
        font-size: 50px;
    }

    .hero__content {
        display: none;
    }

    .card {
        width: 40%;
    }

    .banner__right {
        max-height: 300px;
    }

    .banner__title {
        text-align: center;
    }

    .title {
        font-size: 50px;
    }

    .news__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__container {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 2em;
    }

    .footer__list__item {
        justify-content: center;
    }

    .footer__parrafo {
        margin: 0 auto;
    }
}

/*MEDIA QUERY PARA CELULAR*/

@media (max-width: 400px){
    
    .nav__left {
        justify-content: flex-start;
    }
    
    .nav__left li img {
        display: none;
    }

    .hero__title {
        font-size: 40px;
    }

    .hero__cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
    }

    .banner__container {
        height: auto;
        flex-direction: column;
    }

    .banner__left {
        width: 100%;
    }

    .banner__title {
        margin-left: 0;
    }

    .banner__text {
        text-align: center;
        margin: 10px 10px;
    }

    .banner__right {
        width: 100%;
    }

    .banner__right img {
        margin-left: 35px;
        width: 80%;
    }

    .banner__title--2 {
        margin-right: 0;
    }

    .title {
        font-size: 32px;
    }

    .news__container {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer__container {
        grid-template-columns: repeat(1, 1fr);
        height: auto;
    }
}

